.middle {
	background-color: beige;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: auto;
	padding-left: 10px;
	text-align: center;
	position: relative;
}

.center {
	margin: 0 auto;
	max-width: 850px;
	padding: 30px 15px;
	text-align: center;
}

.card-header {
	background-color: rgba(0,0,0,.03);
	color: #6c757d;
	font-size: 20px;
}

.cards-wrapper .card-img-top{
	align-self: center;
	max-width: 110px;
	padding:30px 10px 40px;
}
.cards-wrapper .card{
	max-width: 260px;
	margin-left: auto;
	margin-right: auto;
}
@media (min-width:576px){
	.cards-wrapper .card-deck{
		justify-content: center;
	}
	.cards-wrapper .card-deck .card{
		flex-basis: 50%;
		margin-bottom: 20px;
	}
}
@media (min-width:768px){
	.cards-wrapper .card-deck .card{
		flex-basis: 0%;
		margin-bottom: 0;
	}
}