

@media only screen and (max-width: 600px) {
	/* 
		For Small devices tablet portrait mode
	*/

}

@media only screen and(max-width: 768px){

		/*
		For Tablet landscape mode
		*/
		.top {
			color: #EBECF1;
			background-color: #206A5D;
			padding-top: 10px;
			padding-bottom: 10px;
			box-shadow: 5px 5px 5px #8888;
		}
		.hideLogo {
			display: none;
		}
		.main {
			margin-left: 92px !important;
		}
		.informationData {
			margin-left: 60px !important;
		}

}

@media only screen and (min-width: 992px){
	/*
	for desktop version
	*/
	.top {
		color: #EBECF1;
		background-color: #206A5D;
		padding-top: 10px;
		padding-bottom: 10px;
		box-shadow: 5px 5px 5px #8888;
	}

	.h1 {
		font-weight: bolder;
		font-size: 50px;
	}
}


@media only screen and (min-width: 1200){
	/*
	for large devices
	*/
}
