.top {
	color: #EBECF1;
	background-color: #206A5D;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 5px 5px 5px #8888;
}
.top .logo-img img{
	max-width: 130px;
	width: 100%;
}

.top .h1 {
	font-weight: normal;
	font-size: 24px;
}
.top h3{
	font-size: 20px;
}
@media(min-width:992px){
	.top .logo-img img{
		max-width: 200px;
	}
	.top .h1 {
		font-weight: bolder;
		font-size: 40px;
	}
	.top h3{
		font-size: 28px;
	}
}